.tooltip {
  position: absolute;
  width: 88px;
  height: 120px;
  opacity: 0.2;
  padding: 7px;
  font: 12px sans-serif;
  text-align: left;
  color: white;
  background: lightslategray;
  border: 0;
  border-radius: 10px;
  word-wrap: break-word;
}

.chart {
  margin-top: 100px;
}